<h1>{{name}}</h1>

<div>
    {{#if episodes}}
        <table>
            <tr>
                <th>Episodes</th>
                <th>Runtime</th>
            </tr>
            {{#each episodes}}
                <tr>
                    <td>{{this.title}}</td>
                    <td>{{this.displayRunTime}}</td>
                </tr>
            {{/each}}
        </table>
    {{else}}
        <h3>No episodes have been uploaded yet.</h3>
    {{/if}}
</div>